body {
  width: 600px;
  background-color: cadetblue;
}

a {
  color: navy;
}

tr {
  margin: auto;
  padding: 0;
  display: table-row;
}

td {
  display: table-cell;
  margin: 0 15px 0 0;
}

img {
  box-shadow: 5px 5px 5px 5px darkcyan, -5px -5px 5px 5px darkcyan;
}

hr {
  border-color: navy;
  background-color: navy;
}

.titles {
  height: 40px;
}

.titles h2 {
  margin: 0;
  padding: 0;
  text-shadow: darkcyan 4px 5px 9px;
}

.descriptions {
  height: 40px;
}

.screenshots {
  overflow: hidden;
}

.screenshots img {
  width: inherit;
  height: inherit;
}

.screenshots img:hover {
  transform: scale(2) translate(100px);
  z-index: 2;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin: 0 auto;
}

