body {
  width: 600px;
  background-color: cadetblue;
}

a {
  color: navy;
}

tr {
  margin: auto;
  padding: 0;
  display: table-row;
  height: 200px;
}

td {
  display: table-cell;
  width: 350px;
  margin: 0 15px 0 0;
}

.titles {
  height: 40px;
}

.descriptions {
  height: 40px;
}

.screenshots {
  overflow: hidden;
}

.screenshots img {
  width: inherit;
  height: inherit;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin: 0 auto;
}

