*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

h5 {
  font-weight: normal;
}

hr {
  border: 1px solid rgba(128, 43, 0);
  background-color: rgba(128, 43, 0);
}

a:hover {
  font-style: italic;
}

.page {
  display: flex;
}

.Nav {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  height: fit-content;
  display: flex;
}

.contact {
  flex: 1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact h2,
h4 {
  margin: 15px 0 0 20px;
}

.contact h4 {
  cursor: pointer;
}

.info {
  background-color: white;
  z-index: 2;
  top: 3px;
  left: 260px;
  position: absolute;
  overflow: visible;
  border: 1px solid rgba(128, 43, 0);
  box-shadow: 2px 2px 3px 2px rgba(128, 43, 0);

}

.info p {
  padding: 5px;
  margin: 0;
}

.info a {
  text-decoration: none;
}

.info a:link {
  color: black;
}

.info a:visited {
  color: black;
}

.list {
  float: right;
  margin: 30px 0px 0px 20px;
  font-size: 25px;
}

.list h3 {
  margin: 0px 10px 0px 10px;
  display: inline-flex;
  cursor: pointer;
}

.pic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: -2px 0px 3px 5px rgba(0, 77, 0);
}

.content {
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px 10px 10px 10px;
}

.content p {
  font-size: 18px;
  padding: 0;
  margin: 10px;
}

.content h5 {
  margin: 5px;
  color: slategray;
}

.content a:link {
  color: black;
  font-size: 25px;
}

.content a:visited {
  color: black;
}

.repo {
  text-decoration: none;
  color: darkslategray;
  font-size: 20px !important;
  opacity: 0.7;
  padding-left: 10px;
}

.screenshot {
  width: 350px;
  padding: 10px;
}

.screenshot:hover {
  transform: scale(1.75) translate(50px);
  z-index: 2;
}

.underline {
  text-decoration: underline;
  text-decoration-color: white;
  text-shadow: 2px 3px rgba(0, 77, 0, 0.5);
}

.hidden {
  display: none;
}
